body {
    font-family: "American Typewriter","Brush Script Std", "Arial Rounded MT Bold"; 
    font-weight: normal; 
    font-size: 15px; 
    background-image: url("blue-gradient.png");
    background-repeat: repeat-x;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#initials{
    background-image: url(hibiscus.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    background-size: 50%;
}
h1{ 
    font-family: "Brush Script Std", "Arial Rounded MT Bold"; 
    font-size:  60px;
    font-weight: normal;
    color: #adbf51;
}
h2{
    font-family: "Brush Script Std", "Arial Rounded MT Bold";
    font-weight: 400; 
    font-size: 40px;
}
h3{
    font-family: "Brush Script Std", "Arial Rounded MT Bold";
    font-weight: 400; 
    font-size: 30px;
}
ul{
    list-style-type: circle;
}
table {
    border-collapse: collapse; 
    font-family: "American Typewriter", "Arial"; 
    font-weight: 400; 
    font-size:  14px;
}
iframe{
    border-style: double; 
    border-width: 10px; 
    border-color: #f8e233;
}
input,select {
    padding: 5px 100px;
    margin: 5px 0;
    border: 2px solid; color: #f7cd1f;
    box-sizing: border-box;
    border-radius: 10px;
}
input[type=submit]{
    background-color: rgba(248, 226, 51, 0.14);
}
hr { 
    display: block;
    margin-top: 5em;
    margin-bottom: 5em;
    border-style: solid;
    border-width: 5px;
    border-color: #f8e233;
}
.italic{
    font-style: italic;
    font-size: 18px;
    color: #adbf51;
   
} 
#navigation{
    padding: 10px;
    overflow: auto;
    background-color: #f8e233;
    display: block;
    text-align: left;
}
.home{
  color: blue; margin-right: 300px;
    text-decoration: none
}
#space1{
    padding: 1px 50px 50px 1px;
}
div.img {
    margin: 50px;
    float: left;
    width: 562px;
}
div.img1 {
    margin: 100px;
    width: 562px;
}
div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: left;
}